

 .picture img{
    height:600px ; 
    width: 450px;
    
     
}
 .picture{
    display: grid;
    grid-template-columns:30% 70%;
    margin-left: 250px;
     
}

.Writeup{
    background-color: rgb(212,210,205);
    text-align: center;
    width: 60%;
}
.Writeup h1{
    color:rgb(255,255,255) ;
    font-size: 15px;
    position: relative;
    top: 100px;
}
.Writeup a{
    color: black;
    font-size: 45px;
    position: relative;
    top: 150px;
}
.Writeup p{
    color:rgb(13,14,13);
    font-size: 18px;
    position: relative;
    top: 210px;
}
.Writeup hr{
    width: 60px;
    height: 3px;
    background-color: white;
    border-color: white;
 
    position: relative;
    top: 220px;
    left: 250px;
}
.Writeup h2{
    color: black;
    font-size: 17px;
    position: relative;
    top: 225px;
}
 